In [4]:
import pandas as pd

# New York City

### Reviewer

In [9]:
reviews2_nyc = pd.read_csv('../nyc/reviews2.csv')
reviews2_nyc.head(2)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,16667077,129952164,2017-02-03,113304043,Nur,exactly the same place like the pics- i apprec...
1,16667077,131099205,2017-02-10,23545132,Chase,Strong recommend!

In [10]:
print "The number of unique listing_ids in the dataset:", len(reviews2_nyc.listing_id.unique()), "out of", reviews2_nyc.shape[0], "total data points"

The number of unique listing_ids in the dataset: 31130 out of 646717 total data points

In [4]:
comments = []
for comment in reviews2_nyc.comments:
    comments.append(comment)
    
comments[:5]

['exactly the same place like the pics- i appreciate it- just make the check-in process less complicated please- two people had the same struggle in one day.',
 'Strong recommend!',
 'This place is as described, a perfect and comfortable place to stay. I will definitely stay there again.',
 'Nice place!',
 'The apartment was clean and just as described. Reading instructions will get you through everything and great communication. Thanks again! ']

In [11]:
# For gender inference

cols = ['listing_id', 'reviewer_name']
reviewer_name = reviews2_nyc.filter(cols, axis=1)
reviewer_name.head(2)

   listing_id reviewer_name
0    16667077           Nur
1    16667077         Chase

### Host

In [71]:
listings_nyc = pd.read_csv('../nyc/listings.csv')
cols = ['id', 'host_name']
host_name = listings_nyc.filter(cols, axis=1)
host_name.head(2)

         id  host_name
0   1475427  Daveyjoe!
1  14653286    Jillian

In [7]:
listings_nyc.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,1475427,https://www.airbnb.com/rooms/1475427,20170401232026,2017-04-02,Cozy Twin for the NYC Win! [Gay/LGBT Friendly],A small bedroom perfect for the budget-conscio...,The space is a single room in a 4 bedroom apar...,A small bedroom perfect for the budget-conscio...,none,"Sunnyside is a very quiet, very very safe NYC ...",...,10.0,f,NaN,NaN,f,strict,f,f,1,1.12

In [7]:
# 16667077
df = listings_nyc
ids = list(listings_nyc.id)
type(ids)
ids[:4]
type(ids[0])
# df[df['Cozy Twin for the NYC Win! [Gay/LGBT Friendly]']].index.tolist()
16667077 in listings_nyc.id.unique()

True

In [9]:
listings_nyc.columns

Index([u'id', u'listing_url', u'scrape_id', u'last_scraped', u'name',
       u'summary', u'space', u'description', u'experiences_offered',
       u'neighborhood_overview', u'notes', u'transit', u'access',
       u'interaction', u'house_rules', u'thumbnail_url', u'medium_url',
       u'picture_url', u'xl_picture_url', u'host_id', u'host_url',
       u'host_name', u'host_since', u'host_location', u'host_about',
       u'host_response_time', u'host_response_rate', u'host_acceptance_rate',
       u'host_is_superhost', u'host_thumbnail_url', u'host_picture_url',
       u'host_neighbourhood', u'host_listings_count',
       u'host_total_listings_count', u'host_verifications',
       u'host_has_profile_pic', u'host_identity_verified', u'street',
       u'neighbourhood', u'neighbourhood_cleansed',
       u'neighbourhood_group_cleansed', u'city', u'state', u'zipcode',
       u'market', u'smart_location', u'country_code', u'country', u'latitude',
       u'longitude', u'is_location_exact', u'property_type', u'room_type',
       u'accommodates', u'bathrooms', u'bedrooms', u'beds', u'bed_type',
       u'amenities', u'square_feet', u'price', u'weekly_price',
       u'monthly_price', u'security_deposit', u'cleaning_fee',
       u'guests_included', u'extra_people', u'minimum_nights',
       u'maximum_nights', u'calendar_updated', u'has_availability',
       u'availability_30', u'availability_60', u'availability_90',
       u'availability_365', u'calendar_last_scraped', u'number_of_reviews',
       u'first_review', u'last_review', u'review_scores_rating',
       u'review_scores_accuracy', u'review_scores_cleanliness',
       u'review_scores_checkin', u'review_scores_communication',
       u'review_scores_location', u'review_scores_value', u'requires_license',
       u'license', u'jurisdiction_names', u'instant_bookable',
       u'cancellation_policy', u'require_guest_profile_picture',
       u'require_guest_phone_verification', u'calculated_host_listings_count',
       u'reviews_per_month'],
      dtype='object')

In [8]:
listings_nyc = pd.read_csv('../nyc/listings.csv')
listings_nyc.columns

Index([u'id', u'listing_url', u'scrape_id', u'last_scraped', u'name',
       u'summary', u'space', u'description', u'experiences_offered',
       u'neighborhood_overview', u'notes', u'transit', u'access',
       u'interaction', u'house_rules', u'thumbnail_url', u'medium_url',
       u'picture_url', u'xl_picture_url', u'host_id', u'host_url',
       u'host_name', u'host_since', u'host_location', u'host_about',
       u'host_response_time', u'host_response_rate', u'host_acceptance_rate',
       u'host_is_superhost', u'host_thumbnail_url', u'host_picture_url',
       u'host_neighbourhood', u'host_listings_count',
       u'host_total_listings_count', u'host_verifications',
       u'host_has_profile_pic', u'host_identity_verified', u'street',
       u'neighbourhood', u'neighbourhood_cleansed',
       u'neighbourhood_group_cleansed', u'city', u'state', u'zipcode',
       u'market', u'smart_location', u'country_code', u'country', u'latitude',
       u'longitude', u'is_location_exact', u'property_type', u'room_type',
       u'accommodates', u'bathrooms', u'bedrooms', u'beds', u'bed_type',
       u'amenities', u'square_feet', u'price', u'weekly_price',
       u'monthly_price', u'security_deposit', u'cleaning_fee',
       u'guests_included', u'extra_people', u'minimum_nights',
       u'maximum_nights', u'calendar_updated', u'has_availability',
       u'availability_30', u'availability_60', u'availability_90',
       u'availability_365', u'calendar_last_scraped', u'number_of_reviews',
       u'first_review', u'last_review', u'review_scores_rating',
       u'review_scores_accuracy', u'review_scores_cleanliness',
       u'review_scores_checkin', u'review_scores_communication',
       u'review_scores_location', u'review_scores_value', u'requires_license',
       u'license', u'jurisdiction_names', u'instant_bookable',
       u'cancellation_policy', u'require_guest_profile_picture',
       u'require_guest_phone_verification', u'calculated_host_listings_count',
       u'reviews_per_month'],
      dtype='object')

In [9]:
cols = ['id', 'host_name']
relevant_fromListings = listings_nyc.filter(cols, axis=1)

In [10]:
relevant_fromListings.head(3)

         id  host_name
0   1475427  Daveyjoe!
1  14653286    Jillian
2  15483662      Lidia

In [13]:
reviews.shape, listings.shape

NameError: name 'reviews' is not defined

In [30]:
len(reviews.listing_id.unique()), len(listings.id.unique())

(15564, 20130)

0         L'appartement de Julia est superbe, spacieux, ...
1         Nice, bright and very quiet flat. \nYou have e...
2         Gerald is friendly and relaxed. His place is s...
3         Der Aufenthalt in Moniques Wohnung war wunders...
4         Der Aufenthalt bei Monique war super! Ich habe...
5         Wir haben uns in dem schönen Zimmer sehr wohl ...
6         Very kind and nice host. Clean, comfy place. E...
7         Vielen Dank für die super Kommunikation :) Mei...
8         Jan his apartment is in a nice, quiet neighbor...
9         Jan's place is excellent! Really close to many...
10        Jan was very helpful and super friendly. His r...
11        Ein sympathischer, hilfsbereiter Gastgeber in ...
12        Georg is a really NICE and very welcome host.\...
13        I had a really good time at this place! The ro...
14        Der Aufenthalt bei Georg und Ina war rundum pe...
15        There is no words to describe how nice Georg h...
16        Located in the hip, on-the-up area of Neukölln...
17        Feedback von Wolfgang Selke, dem Gast:\n\nNach...
18        Verten fikk meg til å føle meg velkommen. Utle...
19        Georg was very nice upon welcome and very hosp...
20        My sister and I stayed at Georg's for 5 days (...
21        A great location a couple of minutes from Herm...
22        Georg was incredibly welcoming - we ended up c...
23        I really enjoyed time at George's place. Every...
24        I've been at Georg's place for ten days. I rea...
25        Georgs lejlighed levede fuldstændig op til vor...
26        Whatever I say probably won't do this listing/...
27        The flat was perfect for my two week stay in B...
28        The apartment was super great and Georg is the...
29        Georg was a great host who went out of his way...
                                ...
256176    We had a wonderful stay at Lisa's apartment. W...
256177    What a pleasant holiday spent in Berlin! Lisa ...
256178    A beautiful apartment, a great neighbourhood a...
256179    We stayed 3 nights at lisa's place and we have...
256180    All was perfect. Nice, cozy and quiet place al...
256181    It was really nice to stay in the studio apart...
256182    Basic and clean apartment on the edge of the v...
256183    Jannis' place was perfect! Great location and ...
256184    Fanny made us feel very welcome and the place ...
256185    I and my familly had a pleasnt stay. Fanny rea...
256186    Easy going? Easy going indeed!\r\n\r\nFanny ha...
256187    Fanny war der liebevollste Gastgeber seit lang...
256188    Wir wurden sehr herzlich von Fanny empfangen, ...
256189    Fanny is such a sweet person, completely focus...
256190    Meine Freundin und ich haben fünf Nächte in Fa...
256191    This place is in the heart of Berlin's Friedri...
256192    Fanny was a very welcoming host and gave us gr...
256193    This is the best Airbnb host we have met so fa...
256194    Fanny made us feel very welcome from the momen...
256195    Fanny was a very kind and sweet host to me and...
256196    Wir waren mit drei Mädels bei Fanny für 4 Näch...
256197    Fanny hat mir eine Wegbeschreibung per sms ges...
256198    Fanny was an excellent host. Very helpful, acc...
256199    Fanny is lovely and made us feel totally at ho...
256200                     Limpio espacioso y muy tranquilo
256201    Fanny was a great host! She made us feel at ho...
256202    We had a great Stay at Lukas' WG\n\nLukas and ...
256203    Did not meet host, just met chap who let us in...
256204    Очень красивая и уютная квартира в хорошем рай...
256205    It's been a fantastic stay at Songfrei's place...
Name: comments, dtype: object

In [33]:
texts = []
c = 0
for idNumber in reviews.listing_id.unique():
    c = c + 1
    text = listings[listings.id == idNumber].iloc[0]  
#     texts.append(text.ho)
#     full_counts.append(liwc_lexicon.summarize_document(text.host_about))
#     topics.append(text[dis_cols].tolist())
#     read.append(textstat.flesch_kincaid_grade(text.host_about))

In [34]:
c

15564

## Chuyang

In [29]:
filenames = ['../names/yob1880.txt']
for i in range(135):
    filenames.append('../names/yob'+str(1881+i)+'.txt')

In [30]:
with open('../names/names.txt', 'w') as outfile:
    for fname in filenames:
        with open(fname) as infile:
            for line in infile:
                outfile.write(line)

In [34]:
import csv
with open('../names/names.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open('../names/names.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('name', 'gender', 'number'))
        writer.writerows(lines)

In [185]:
names = pd.read_csv('../names/names.csv')
sortedNames = names.sort_values('name')
# Group same name & gender
sortedNames = sortedNames.groupby(["name", "gender"], as_index=False).sum()
sortedNames = sortedNames.sort_values(['name', 'number'])
sortedNames = sortedNames.drop_duplicates(['name'], keep='last')
sortedNames = sortedNames.reset_index().drop('index', 1)
print sortedNames[:20]

         name gender  number
0       Aaban      M      87
1       Aabha      F      28
2       Aabid      M       5
3   Aabriella      F      15
4        Aada      F       5
5       Aadam      M     218
6       Aadan      M     122
7     Aadarsh      M     173
8       Aaden      M    4213
9      Aadesh      M      15
10     Aadhav      M     133
11   Aadhavan      M      24
12      Aadhi      M      23
13    Aadhira      F      37
14    Aadhvik      M       9
15     Aadhya      F     904
16    Aadhyan      M      12
17       Aadi      M     710
18     Aadian      M       5
19      Aadil      M     311

In [186]:
# Save sorted name & gender to csv file
sortedNames.to_csv('../names/nameToGender.txt',columns=['name','gender'],index=False)

In [187]:
import string
hostIdAndName = relevant_fromListings
hostIdAndName = hostIdAndName.dropna()
hostIdAndName = hostIdAndName.reset_index().drop('index', 1)

In [188]:
first_name = hostIdAndName['host_name'].str.split('\s+').str[0]
first_name = first_name.str.strip(string.punctuation)
first_name = first_name.reset_index().drop('index', 1)
first_name.columns = ['host_first_name']
print first_name.shape
print hostIdAndName.shape

(40594, 1)
(40594, 2)

In [189]:
hostIdAndName = pd.concat([hostIdAndName, first_name], axis=1)
print hostIdAndName[:10]

         id  host_name host_first_name
0   1475427  Daveyjoe!        Daveyjoe
1  14653286    Jillian         Jillian
2  15483662      Lidia           Lidia
3  11767644    Demetra         Demetra
4  15043788     Nurcan          Nurcan
5  14650584   Josefina        Josefina
6  16879854  Alejandro       Alejandro
7  15043534     Nurcan          Nurcan
8   1935891   Michelle        Michelle
9   6130145      Ester           Ester

In [201]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

nameAndGender = np.genfromtxt('../names/nameToGender.txt', 
                        delimiter=',', 
                        dtype=[('name','S50'), ('gender','S1')],
                        converters={0: lambda s:s.lower()})
nameAndGender[:5]

array([('aaban', 'M'), ('aabha', 'F'), ('aabid', 'M'), ('aabriella', 'F'),
       ('aada', 'F')],
      dtype=[('name', 'S50'), ('gender', 'S1')])

In [202]:
def name_count(name):
    arr = np.zeros(48)
    # Iterate each character
    for ind, x in enumerate(name):
        if ind > 21: break
        arr[ind] = int(ord(x)-ord('a')+1)
        if 22+ord(x)-ord('a') < 48 and 21+ord(x)-ord('a') >= 0 :
            arr[22+ord(x)-ord('a')] += ind+1
        else:
            arr[22] += ind+1
    return arr

name_map = np.vectorize(name_count, otypes=[np.ndarray])
trainData = name_map(nameAndGender['name'])
trainData = np.array(trainData.tolist())
trainResult = nameAndGender['gender']

In [192]:
first_name.to_csv('../names/firstNames.txt',columns=['host_first_name'],index=False)

In [196]:
firstNames = np.genfromtxt('../names/firstNames.txt', 
                        dtype=[('name','S21')],
                        converters={0: lambda s:s.lower()})
firstNames[:10]

array(['daveyjoe', 'jillian', 'lidia', 'demetra', 'nurcan', 'josefina',
       'alejandro', 'nurcan', 'michelle', 'ester'],
      dtype='|S21')

In [198]:
hostData = name_map(firstNames)
hostData = np.array(hostData.tolist())
hostData[:5]

array([[  4.,   1.,  22.,   5.,  25.,  10.,  15.,   5.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          2.,   0.,   0.,   1.,  12.,   0.,   0.,   0.,   0.,   6.,   0.,
          0.,   0.,   0.,   7.,   0.,   0.,   0.,   0.,   0.,   0.,   3.,
          0.,   0.,   5.,   0.],
       [ 10.,   9.,  12.,  12.,   9.,   1.,  14.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          6.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   7.,   1.,   0.,
          7.,   0.,   7.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.],
       [ 12.,   9.,   4.,   9.,   1.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          5.,   0.,   0.,   3.,   0.,   0.,   0.,   0.,   6.,   0.,   0.,
          1.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.],
       [  4.,   5.,  13.,   5.,  20.,  18.,   1.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          7.,   0.,   0.,   1.,   6.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   3.,   0.,   0.,   0.,   0.,   6.,   0.,   5.,   0.,   0.,
          0.,   0.,   0.,   0.],
       [ 14.,  21.,  18.,   3.,   1.,  14.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          5.,   0.,   4.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   7.,   0.,   0.,   0.,   3.,   0.,   0.,   2.,   0.,
          0.,   0.,   0.,   0.]])

In [203]:
neigh = KNeighborsClassifier(n_neighbors=1)
neigh.fit(trainData, trainResult)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [200]:
pred = neigh.predict(hostData)

In [201]:
host_gender = pd.DataFrame(pred)
host_gender.columns = ['gender']
hostIdAndGender = pd.concat([hostIdAndName, host_gender], axis=1)
hostIdAndGender = hostIdAndGender.drop('host_first_name',1)
hostIdAndGender[:10]

         id  host_name gender
0   1475427  Daveyjoe!      M
1  14653286    Jillian      F
2  15483662      Lidia      F
3  11767644    Demetra      F
4  15043788     Nurcan      F
5  14650584   Josefina      F
6  16879854  Alejandro      M
7  15043534     Nurcan      F
8   1935891   Michelle      F
9   6130145      Ester      F

In [203]:
cols = ['reviewer_id', 'reviewer_name']
reviewIdAndName = reviews2_nyc.filter(cols, axis=1)
reviewIdAndName = reviewIdAndName.drop_duplicates(['reviewer_id'], keep='last')
reviewIdAndName = reviewIdAndName.reset_index().drop('index', 1)
print reviewIdAndName[:10],reviewIdAndName.shape

   reviewer_id reviewer_name
0    113304043           Nur
1     43765357        Bobola
2     65425263         Casey
3     86947196           Leo
4      2893570       Solomon
5     45022045         Nakaj
6     41284227           Ana
7     59232157        Andrea
8     89184485         Kylie
9     82114599          Marc (570681, 2)

In [136]:
from sklearn.cross_validation import train_test_split, cross_val_score

for x in xrange(5):
 Xtr, Xte, ytr, yte = train_test_split(trainData, trainResult, test_size=0.33)
 clf = KNeighborsClassifier(n_neighbors=1)
 clf.fit(Xtr, ytr)
 print np.mean(clf.predict(Xte) == yte)

0.791989540483
0.787748333812
0.792531649606
0.787142447144
0.788417998023

In [204]:
reviewerName = reviewIdAndName.as_matrix(columns=['reviewer_name'])
reviewerName = np.reshape(reviewerName, 570681)
reviewerName = reviewerName.astype('S21')
reviewerName = map(lambda w: w.lower(), reviewerName)
reviewerName[:5]

['nur', 'bobola', 'casey', 'leo', 'solomon']

In [205]:
reviewerData = name_map(reviewerName)
reviewerData = np.array(reviewerData.tolist())

In [206]:
reviewerPred = neigh.predict(reviewerData)
reviewerPred[:5]

array(['F', 'F', 'M', 'M', 'M'],
      dtype='|S1')

In [207]:
reviewer_gender = pd.DataFrame(reviewerPred)
reviewer_gender.columns = ['gender']
reviewIdAndName = pd.concat([reviewIdAndName, reviewer_gender], axis=1)
reviewIdAndName[:10]

   reviewer_id reviewer_name gender
0    113304043           Nur      F
1     43765357        Bobola      F
2     65425263         Casey      M
3     86947196           Leo      M
4      2893570       Solomon      M
5     45022045         Nakaj      M
6     41284227           Ana      F
7     59232157        Andrea      F
8     89184485         Kylie      F
9     82114599          Marc      M

In [214]:
hostIdAndGender.to_csv('data/hostIdAndGender.txt',index=False)
reviewIdAndName.to_csv('data/reviewerIdAndName.txt',index=False)

In [1]:
import plotly
plotly.tools.set_credentials_file(username='kristenwang', api_key='qDbb3QNRQN61BgpigItg')

/Users/wangchuyang/anaconda3/envs/py27/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning:

Matplotlib is building the font cache using fc-list. This may take a moment.

In [42]:
hostIdAndGender = pd.read_csv('data/hostIdAndGender.txt')
hostGender = hostIdAndGender.groupby('gender').gender.count()
hostGender[:5]

gender
F    21275
M    19319
Name: gender, dtype: int64

In [14]:
reviewerIdAndName = pd.read_csv('data/reviewerIdAndName.txt')
reviewerGender = reviewerIdAndName.groupby('gender').gender.count()
reviewerGender[:5]

gender
F    311461
M    259220
Name: gender, dtype: int64

In [56]:
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Bar(
    x=['hosts', 'reviewers'],
    y=[19319, 259220],
    name='Male'
)
trace2 = go.Bar(
    x=['hosts', 'reviewers'],
    y=[21275, 311461],
    name='Female'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='group',
    title='Unique hosts and reviewers',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='gender-bar')

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~kristenwang/0 or inside your plot.ly account where it is named 'gender-bar'

In [31]:
listing_cols = ['listing_id','reviewer_id', 'reviewer_name']
listing_id_and_reviewer = reviews2_nyc.filter(listing_cols, axis=1)
listing_id_and_reviewer[:10]

   listing_id  reviewer_id reviewer_name
0    16667077    113304043           Nur
1    16667077     23545132         Chase
2    16667077     43765357        Bobola
3    16667077    114672486      Chengyao
4    16667077     97166582        Daelan
5    16667077     65425263         Casey
6    16667077     86947196           Leo
7    16667077      2893570       Solomon
8    13760233     45022045         Nakaj
9    13760233     41284227           Ana

In [32]:
#reviewerIdAndName.index.get_loc('113304043')
gender = []
for reviewer in listing_id_and_reviewer.reviewer_id:
    a = reviewerIdAndName[reviewerIdAndName.reviewer_id == reviewer].index[0]
    gender.append(reviewerIdAndName.iloc[a].gender)
    
gender[:10]

['F', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'F']

In [38]:
print len(gender),listing_id_and_reviewer.shape

646717 (646717, 3)

In [41]:
review_gender = np.asarray(gender)
review_gender = pd.DataFrame(review_gender)
review_gender.columns = ['reviewer_gender']
listing_id_and_reviewer = pd.concat([listing_id_and_reviewer, review_gender], axis=1)
listing_id_and_reviewer[:5]

   listing_id  reviewer_id reviewer_name reviewer_gender
0    16667077    113304043           Nur               F
1    16667077     23545132         Chase               M
2    16667077     43765357        Bobola               F
3    16667077    114672486      Chengyao               F
4    16667077     97166582        Daelan               M

In [60]:
host_gender = []
for listing in listing_id_and_reviewer.listing_id:
    if listing in hostIdAndGender.id.values:
        b = hostIdAndGender[hostIdAndGender.id == listing].index[0]
        host_gender.append(hostIdAndGender.iloc[b].gender)
    else:
        host_gender.append('Unknown')
    
host_gender[:20]

['M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F']

In [62]:
host_gender = np.asarray(host_gender)
host_gender = pd.DataFrame(host_gender)
host_gender.columns = ['host_gender']
listing_id_and_reviewer = pd.concat([listing_id_and_reviewer, host_gender], axis=1)
listing_id_and_reviewer[:5]

   listing_id  reviewer_id reviewer_name reviewer_gender host_gender
0    16667077    113304043           Nur               F           M
1    16667077     23545132         Chase               M           M
2    16667077     43765357        Bobola               F           M
3    16667077    114672486      Chengyao               F           M
4    16667077     97166582        Daelan               M           M

In [63]:
listing_id_and_reviewer.to_csv('data/listing_and_reviewer_id_gender.csv',index=False)

In [67]:
host_reviewer_gender = listing_id_and_reviewer.groupby(['host_gender','reviewer_gender']).reviewer_gender.count()
print host_reviewer_gender

host_gender  reviewer_gender
F            F                  178337
             M                  141681
M            F                  170528
             M                  155817
Unknown      F                     190
             M                     164
Name: reviewer_gender, dtype: int64

In [163]:
female_reviewer = go.Bar(
    x=[ 'Male_Host', 'Female_Host','Unlisted_Host'],
    y=[170528, 178337, 190],
    name='Female_Reviewer'
)
male_reviewer = go.Bar(
    x=['Male_Host','Female_Host', 'Unlisted_Host'],
    y=[ 155817, 141681, 164],
    name='Male_Reviewer'
)

host_reviewer_data = [male_reviewer, female_reviewer]
host_reviewer_layout = go.Layout(
    barmode='group',
    title='Gender of Reviewers to Gender of Hosts'
)

fig1 = go.Figure(data=host_reviewer_data, layout=host_reviewer_layout)
py.iplot(fig1, filename='host_reviewer_gender_bar')

In [186]:
date_cols = ['listing_id','date','comments','reviewer_name']
date_and_reviewer = reviews2_nyc.filter(date_cols, axis=1)
date_and_reviewer = pd.concat([date_and_reviewer, review_gender], axis=1)
month = (date_and_reviewer['date'].str.split('-').str[1])
month = month.reset_index().drop('index', 1)
month.columns = ['month']
date_and_reviewer = pd.concat([date_and_reviewer, month], axis=1)
date_and_reviewer[:5]

,listing_id,date,comments,reviewer_name,reviewer_gender,month
0,16667077,2017-02-03,exactly the same place like the pics- i apprec...,Nur,F,02
1,16667077,2017-02-10,Strong recommend!,Chase,M,02
2,16667077,2017-02-17,"This place is as described, a perfect and comf...",Bobola,F,02
3,16667077,2017-03-02,Nice place!,Chengyao,F,03
4,16667077,2017-03-03,The apartment was clean and just as described....,Daelan,M,03

In [190]:
date_and_reviewer_gender = date_and_reviewer.groupby(['month','reviewer_gender']).reviewer_gender.count()
print date_and_reviewer_gender

month  reviewer_gender
01     F                  25902
       M                  23655
02     F                  19191
       M                  17673
03     F                  28745
       M                  25038
04     F                  20923
       M                  17095
05     F                  28580
       M                  23076
06     F                  25860
       M                  21599
07     F                  25439
       M                  21634
08     F                  30961
       M                  26188
09     F                  39038
       M                  33138
10     F                  42163
       M                  34443
11     F                  30761
       M                  27077
12     F                  31492
       M                  27046
Name: reviewer_gender, dtype: int64

In [214]:
month_x = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
weather_and_male = go.Bar(
    x=month_x,
    y=[23655, 17673, 25038,17095,23076,21599,21634,26188,33138,34443,27077,27046],
    name='Male Reviewers'
)
weather_and_female = go.Bar(
    x=month_x,
    y=[25902, 19191, 28745,20923,28580,25860,25439,30961,39038,42163,30761,31492],
    name='Female Reviewers'
)

weather_and_gender_data = [weather_and_male, weather_and_female]
weather_and_gender_layout = go.Layout(
    barmode='stack',
    title='Number of Reviews based on Weather - New York',
    xaxis=dict(tickangle=-45),
)

weather_and_gender_fig = go.Figure(data=weather_and_gender_data, layout=weather_and_gender_layout)
py.iplot(weather_and_gender_fig, filename='weather_and_gender_bar')

In [196]:
reviews_sf = pd.read_csv('../sf/reviews.csv')
reviews_sf.head(2)
cols_review_id_name = ['reviewer_id', 'reviewer_name']
reviewIdAndName_sf = reviews_sf.filter(cols_review_id_name, axis=1)
reviewIdAndName_sf = reviewIdAndName_sf.drop_duplicates(['reviewer_id'], keep='last')
reviewIdAndName_sf = reviewIdAndName_sf.reset_index().drop('index', 1)
print reviewIdAndName_sf[:5],reviewIdAndName_sf.shape

   reviewer_id reviewer_name
0        49913          Sean
1     38552007           Jon
2     33218898         Gregg
3     51417647          Faiz
4     49757126     Elizabeth (193123, 2)

In [204]:
reviewerName_sf = reviewIdAndName_sf.as_matrix(columns=['reviewer_name'])
reviewerName_sf = np.reshape(reviewerName_sf, 193123)
reviewerName_sf = reviewerName_sf.astype('S21')
reviewerName_sf = map(lambda w: w.lower(), reviewerName_sf)
reviewerData_sf = name_map(reviewerName_sf)
reviewerData_sf = np.array(reviewerData_sf.tolist())
print reviewerName_sf[:5]

['sean', 'jon', 'gregg', 'faiz', 'elizabeth']

In [205]:
reviewerPred_sf = neigh.predict(reviewerData_sf)
reviewerPred_sf[:5]

array(['M', 'M', 'M', 'M', 'F'],
      dtype='|S1')

In [206]:
reviewer_gender_sf = pd.DataFrame(reviewerPred_sf)
reviewer_gender_sf.columns = ['gender']
reviewIdAndName_sf = pd.concat([reviewIdAndName_sf, reviewer_gender_sf], axis=1)

   reviewer_id reviewer_name gender
0        49913          Sean      M
1     38552007           Jon      M
2     33218898         Gregg      M
3     51417647          Faiz      M
4     49757126     Elizabeth      F

In [207]:
reviewIdAndName_sf.to_csv('data/reviewIdAndName_sf.txt',index=False)

In [210]:
listing_review_cols_sf = ['listing_id', 'reviewer_id', 'reviewer_name']
listing_id_and_reviewer_sf = reviews_sf.filter(listing_review_cols_sf, axis=1)
reviewer_gender_sf = []
for reviewer in listing_id_and_reviewer_sf.reviewer_id:
    a = reviewIdAndName_sf[reviewIdAndName_sf.reviewer_id == reviewer].index[0]
    reviewer_gender_sf.append(reviewIdAndName_sf.iloc[a].gender)
    
reviewer_gender_sf[:5]

['M', 'M', 'M', 'M', 'M']

In [213]:
review_gender_sf = np.asarray(reviewer_gender_sf)
review_gender_sf = pd.DataFrame(review_gender_sf)
review_gender_sf.columns = ['reviewer_gender']
date_cols_sf = ['listing_id','date','comments','reviewer_name']
date_and_reviewer_sf = reviews_sf.filter(date_cols, axis=1)
date_and_reviewer_sf = pd.concat([date_and_reviewer_sf, review_gender_sf], axis=1)
month_sf = (date_and_reviewer_sf['date'].str.split('-').str[1])
month_sf = month_sf.reset_index().drop('index', 1)
month_sf.columns = ['month']
date_and_reviewer_sf = pd.concat([date_and_reviewer_sf, month_sf], axis=1)
date_and_reviewer_gender_sf = date_and_reviewer_sf.groupby(['month','reviewer_gender']).reviewer_gender.count()
print date_and_reviewer_gender_sf

month  reviewer_gender
01     F                   8550
       M                   9268
02     F                   8284
       M                   9124
03     F                   9838
       M                  10156
04     F                   6151
       M                   5888
05     F                   8139
       M                   7580
06     F                   8311
       M                   8073
07     F                   9674
       M                   8857
08     F                  12153
       M                  11023
09     F                  11501
       M                  11116
10     F                  11964
       M                  11352
11     F                   7330
       M                   7596
12     F                   6757
       M                   6956
Name: reviewer_gender, dtype: int64

In [215]:
month_x = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
weather_and_male_sf = go.Bar(
    x=month_x,
    y=[9268, 9124, 10156,5888,7580,8073,8857,11023,11116,11352,7596,6956],
    name='Male Reviewers'
)
weather_and_female_sf = go.Bar(
    x=month_x,
    y=[8550, 8284, 9838,6151,8139,8311,9674,12153,11501,11964,7330,6757],
    name='Female Reviewers'
)

weather_and_gender_data_sf = [weather_and_male_sf, weather_and_female_sf]
weather_and_gender_layout_sf = go.Layout(
    barmode='stack',
    title='Number of Reviews based on Weather - San Francisco',
    xaxis=dict(tickangle=-45),
)

weather_and_gender_fig_sf = go.Figure(data=weather_and_gender_data_sf, layout=weather_and_gender_layout_sf)
py.iplot(weather_and_gender_fig_sf, filename='weather_and_gender_bar_sf')

In [100]:
cols_score = ['id','host_name','number_of_reviews','review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value']
host_score = listings_nyc.filter(cols_score, axis=1)
host_score = host_score.dropna(subset = ['id','host_name'])
host_score.shape

(40594, 10)

In [101]:
#pd.concat([hostIdAndName, host_gender], axis=1)
host_score = pd.concat([host_score,hostIdAndGender.gender], axis=1)
host_score = host_score.dropna()
host_score[:5]

,id,host_name,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,gender
0,1475427.0,Daveyjoe!,7.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,M
1,14653286.0,Jillian,3.0,90.0,10.0,9.0,7.0,8.0,9.0,9.0,F
3,11767644.0,Demetra,21.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,F
4,15043788.0,Nurcan,24.0,93.0,10.0,9.0,10.0,10.0,10.0,10.0,F
5,14650584.0,Josefina,1.0,100.0,8.0,10.0,10.0,10.0,8.0,10.0,F

In [102]:
host_score.shape

(30282, 11)

In [105]:
male_host_scroe = host_score.query('gender == "M"')
female_host_scroe = host_score.query('gender == "F"')
print male_host_scroe.shape, female_host_scroe.shape

(14438, 11) (15844, 11)

In [162]:
heatmap_z_1 = np.zeros(10)
for scores in male_host_scroe.review_scores_accuracy:
        heatmap_z_1[int(scores)-1] += 1
heatmap_z_2 = np.zeros(10)
for scores in male_host_scroe.review_scores_cleanliness:
        heatmap_z_2[int(scores)-1] += 1
heatmap_z_3 = np.zeros(10)
for scores in male_host_scroe.review_scores_checkin:
        heatmap_z_3[int(scores)-1] += 1
heatmap_z_4 = np.zeros(10)
for scores in male_host_scroe.review_scores_communication:
        heatmap_z_4[int(scores)-1] += 1
heatmap_z_5 = np.zeros(10)
for scores in male_host_scroe.review_scores_location:
        heatmap_z_5[int(scores)-1] += 1
heatmap_z_6 = np.zeros(10)
for scores in male_host_scroe.review_scores_value:
        heatmap_z_6[int(scores)-1] += 1
heatmap_z_7 = np.zeros(10)
for scores in female_host_scroe.review_scores_accuracy:
        heatmap_z_7[int(scores)-1] += 1
heatmap_z_8 = np.zeros(10)
for scores in female_host_scroe.review_scores_cleanliness:
        heatmap_z_8[int(scores)-1] += 1
heatmap_z_9 = np.zeros(10)
for scores in female_host_scroe.review_scores_checkin:
        heatmap_z_9[int(scores)-1] += 1
heatmap_z_10 = np.zeros(10)
for scores in female_host_scroe.review_scores_communication:
        heatmap_z_10[int(scores)-1] += 1
heatmap_z_11 = np.zeros(10)
for scores in female_host_scroe.review_scores_location:
        heatmap_z_11[int(scores)-1] += 1
heatmap_z_12 = np.zeros(10)
for scores in female_host_scroe.review_scores_value:
        heatmap_z_12[int(scores)-1] += 1
        
heatmap_z_male = np.vstack((heatmap_z_1, heatmap_z_2,heatmap_z_3,heatmap_z_4,heatmap_z_5,heatmap_z_6))
heatmap_z_female = np.vstack((heatmap_z_7, heatmap_z_8,heatmap_z_9,heatmap_z_10,heatmap_z_11,heatmap_z_12))
#print heatmap_z_male,heatmap_z_female

In [158]:
male_y_axis = ['Accuracy','Cleanliness','Checkin','Communication','Location','Value']
male_z_axis = heatmap_z_male
male_x_axis = [1,2,3,4,5,6,7,8,9,10]
female_z_axis = heatmap_z_female

In [159]:
trace_male_scores = go.Heatmap(z=heatmap_z_male,
                   x=male_x_axis,
                   y=male_y_axis)
data=[trace_male_scores]
py.iplot(data, filename='male_scores_heatmap')

In [160]:
trace_female_scores = go.Heatmap(z=female_z_axis,
                   x=male_x_axis,
                   y=male_y_axis)
data=[trace_female_scores]
py.iplot(data, filename='female_scores_heatmap')